:root{
    --pri: #09bd8b;
    --sec: #323042;
    --red: #ff4747;
    --text: #868686;
    --wht:    #fff;
    --bg: #f9fafe;
    --dark: #323042;
    --yel: orange;
    --red: tomato;
    --shad: 4px 4px 16px -4px #0004; 
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .25s ease-in-out;
    border: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
}


.lazy-loader{
    animation: lazyload 2s ease-in-out forwards;
}

@keyframes lazyload {
    from{
        filter: blur(10px);
    }
    to{
        filter: blur(0);
    }
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: var(--shad); */
    background: var(--pri);
    padding: 2rem;
    position: relative;
   
}
/* .brand-details{
    border: 1px solid red;
} */
.brand-head{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--bg);
}

.brand-head svg{
    font-size: 2rem;
}

.brand-name{
    line-height: .75;
    color: var(--bg);
    display: flex;
}
.brand-tag{
    text-transform: uppercase;
    text-align: right;
    color: var(--yel);
    letter-spacing: 2px;
    padding-right: 1rem;
    margin-top: .35rem;
    
}
.site-nav{

}
.nav-wrap{
    display: flex;
    justify-content: space-around;
}

.nav-wrap > li{
    position: relative;
}

.nav-wrap li a, .drop-down li a{
    padding: 1rem 2rem;
    color: var(--rbg);
    border-radius: 2rem;
    display: block;
    position: relative;
   
}

.drop-down{
    position: absolute;
    width: max-content;
    max-height: 0;
    left: 0;
    top: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: var(--shad);
}



.drop-down a{
    padding: 0 !important;
    color: var(--pri) !important;
}

.drop-down a:hover{
    background: var(--red);
    color: var(--bg) !important;
}

.nav-wrap li:hover > .drop-down{
    max-height: max-content;
}

.nav-hio{
    display: none;
    justify-content: center;
    align-items: center;
    padding: .5rem .75rem;
    border-radius: 3px;
    border: 1px solid #fff2;
    font-size: 1.52rem;
    cursor: pointer;
    color: var(--bg);
    

}

.nav-extra{
    display: flex;
    gap: 1rem;
    color: var(--bg);
}

.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: .9rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: var(--bg);
    position: relative;
}

.cart-label{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--red);
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 0.7rem;
    right: -.25rem;
    color: var(--wht);
    top: -.25rem;
    display: flex;
}

.nav-icon:hover{
    background: var(--bg);
    color: var(--pri);
    cursor: pointer;

}

/* HERO STYLING */
.site-body{

}

.hero-section{
    background-color: var(--pri);
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    height: 80vh;
}



.hero-left{
    flex: 1;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    flex-direction: column;
    gap: .51rem;

}

.hero-right{
    flex: 1;
}

.hero-subtitle, .hero-text{
    font-size: 1.3rem;
    opacity: 0.8;
    font-size: 1.52rem;
    line-height: 1.8;
}

.hero-title{
    font-size: 3rem;
    color: var(--wht);
}

.hero-text{
    
}



.hero-image{
    width: 70%;
    transform: scaleX(-1);
    
}

.hero-cta{
    border-radius: 3rem;
    background: var(--yel);
    padding: 1rem 2rem;
    font-weight: 600;
    color: var(--bg);
    margin: 1rem 0;
    font-size: 1.2rem;
}

/* CATEGORY STYLING */
.category-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 6rem 2rem;
    position: relative;
}

.category-section::before{
    content: '';
    position: absolute;
    height: 53%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--pri);
}

.category-card{
    position: relative;
    background: var(--wht);
    width: 25rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: var(--shad);
}

.category-title{
    font-size: 1.2rem;
    color: #1fecbc;
}

.category-card:nth-of-type(2) .category-title{
    color: var(--red);
}


.category-card:nth-of-type(3) .category-title{
    color: #3a13c4;
}

.category-icon{
    height: 4rem;
    width: 4rem;
    margin: 0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1fecbc;
    font-size: 1.6rem;
    color: var(--wht);
}

.category-card:nth-of-type(2) .category-icon{
    background-color: var(--red);
}


.category-card:nth-of-type(3) .category-icon{
    background-color: #3a13c4;
}

.category-text{
    font-size: 0.9rem;
    line-height: 1.45;
    padding: 0.5rem; 
}

.faq-section{
    padding: 5rem 2rem;
    position: relative;
    overflow: hidden;
    background: var(--pri);
    
}

.faq-section::after{
    content: '';
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 15%;
    z-index: 0;
    height: 100vh;
    width: 100vh;
    border: 15px solid #e5ca99;
    border-radius: 50%;
    background-color: #fff;
    background-image: linear-gradient(#432eea80,#432eea80), url('../images/bugatti.jpg');
}

.section-header{
    position: relative;
    z-index: 10;
    
}
.faq-section .section-subtitle{
    color: var(--yel);
    padding: 1rem;
    text-align: left;
}
.faq-section .section-title{
    color: var(--wht);
    font-size: 2.5rem;
    text-align: left;
    padding-left: 1rem;
}

.faq-wrap{
    position: relative;
    z-index: 10;
    padding: 2rem 0;
}
.faq-left{

}
.faq-card{
    padding: 1rem;
    margin: 1rem;
    max-width: 40rem;
    border-radius: 5px;
    background: var(--bg);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: var(--shad);
}
.faq-toggle{
    cursor: pointer;
    padding-right: 1rem;
   
}
.faq-head{

}
.faq-title{
    color: var(--pri);
}
.faq-input{
    display: none;
}

.faq-btn{
    color: var(--dark);
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.faq-input:checked + .faq-answer {
    max-height: max-content !important;
    
}

.faq-input:checked + .faq-answer .faq-btn {
    max-height: max-content !important;
    color: var(--wht) !important;
    background: var(--red) !important;
    
    
}

.faq-input:checked + .faq-answer .faq-text {
   padding: 0.5rem !important;
   max-height: max-content !important;
   
    
}

.faq-answer{
   
}
.faq-text{
    max-height: 0;
    overflow: hidden;
    color: var(--text);
}
.faq-right{

}

/* FOOTER STYLING */
.site-footer{
    padding: 4rem 2rem;
    background: var(--dark);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    color: var(--yel);
    flex-flow: row wrap;
    position: relative;
    overflow: hidden;

}

.footer-base{
    margin: 4rem 0 0;
    width: 100%;
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    background: #000;
    color: var(--bg);
    left: 0;
    bottom: 0;
    position: absolute;
    
}

.foot-links{
    flex: 1;
}

.foot-title{
    opacity: 0.7;
    padding-bottom: 0.5rem;
}

.foot-links a{
    color: var(--wht);
    opacity: 0.8;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.foot-links a:hover{
    color: var(--text);
}

/* RESPONSIVNESS */
@media screen and (max-width: 750px) {
    .site-nav{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        z-index: 999;
        background: var(--wht);

    }

    .nav-show{
        max-height: 1000%;
    }


    .nav-wrap{
        flex-direction: column;
        gap: 0;
    }

    .nav-wrap li a{
        border-radius: 0 !important;
        color: var(--pri);


    }
    
    .nav-toggle{
        display: flex;
    }

    .nav-extra{
        margin-left: auto;
        margin-right: 1rem;
    }

    .hero-right{
        display: none;
    }

    /* CATEGORY STYLING */
    .category-section{
        padding-top: 0;
        flex-direction: column;
    }
}

/* PRODUCT STYLING */
.product-section, .single-section{
    padding: 4rem 2rem 4rem;
    background: var(--bg);

}

.product-card{
    max-width: 15rem;
}

.section-header{
    text-align: center;
}
.section-title{
    font-size: 2rem;
    color: var(--pri);
}
.section-subtitle{
    color: var(--text);
    padding: 1rem 2rem 3rem;
}
.product-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-flow: row wrap;
}
.product-card, .single-card{
    box-shadow: var(--shad);
    overflow: hidden;
    border-radius: 5px;
    background: var(--wht);
    cursor: pointer;
    width: 18rem;
    position: relative;
    border-bottom: 4px solid var(--pri);
}
.product-image, .single-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    

}








.product-image img, .single-image img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: relative;
    top: 30%;

}
.product-brand, .single-brand{
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 2rem;
    background: var(--red);
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.6rem;
}



.product-info, .single-info{
    padding: 1rem;
}
.product-name, .single-name{
    color: var(--pri);
}
.product-mid, .single-mid{
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-rating, .single-rating{
    display: flex;
    gap: .21rem;
    align-items: center;
    color: var(--text);
    font-size: 80%;
}
.product-score, .single-score{
    font-weight: 100;
    color: var(--red);
}

.product-rating svg:hover, .single-rating svg:hover{
    color: var(--red);
}

.product-pricing, .single-pricing{
    font-size: 90%;
}
.product-price{

}
.product-oldprice, .single-oldprice{
    font-size: 80%;
    text-decoration: line-through;
    opacity: 0.5;
}
.product-base, .single-base{
    padding: 0.5rem 0 0;
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.product-cart, .single-cart{
    flex: 1;
    background: var(--red);
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    color: var(--wht);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.product-icon, .single-icon{
    height: 30px;
    width: 30px;
    background: var(--wht);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    font-size: 0.9rem;
    cursor: pointer;
    
}

.product-icon:hover, .single-icon:hover{
    background: #d9dade;
    color: var(--wht);
}


/* SINGLE PRODUCT PAGE STYLING */
.single-section{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-flow: row wrap;
}

.single-image {
    height: 400px;
    min-width: 30rem;
    flex: 1;
    position: relative;

}

.single-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.single-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}

.single-desc{
    font-size: 0.9rem;
    color: var(--text);
    padding: 1rem 0;
}




    

